@{
    ViewData["Title"] = "Адміністратор";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-primary">@ViewData["Message"]</h1>
            <div class="alert alert-info">
                <h4>Функції адміна:</h4>
                <ul>
                    <li>Управління автопарком</li>
                    <li>Управління користувачами</li>
                    <li>Перегляд звітів</li>
                    <li>Налаштування системи</li>
                </ul>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-title">Автомобілі</div>
                        <p class="card-text">Управління автопарком</p>
                        <a href="#" class="btn btn-primary">Переглянути</a>
                    </div>
                </div>

                <div class="col-md-4"></div>
                    <div class="card">
                        <div class="card-title">Користувачі</div>
                        <p class="card-text">Управління користувачами</p>
                        <a href="#" class="btn btn-primary">Переглянути</a>
                    </div>
                </div>

                <div class="col-md-4"></div>
                    <div class="card">
                        <div class="card-title">Звіти</div>
                        <p class="card-text">Аналітика та звіти</p>
                        <a href="#" class="btn btn-primary">Переглянути</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>